@{
    ViewBag.Title = "Contact LJS flooring";
}
<h2>@ViewBag.Title.</h2>

<address>
    <abbr title="Phone">P:</abbr>
    469.767.4204
</address>

<address>
    <strong>Emal:</strong>   <a href="mailto:Ljsflooring@gmail.com">Ljsflooring@gmail.com</a><br />
</address>